
/* COMMON */

body {
  color: #333;

  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4; /* 빈줄 높이 */
}

a { text-decoration: none; }

img { display: block; }

/* .inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
} */



/* === HEADER =========================================== */

header {
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
}

header > .inner {
  height: 120px;

  width: 1100px;
  margin: 0 auto;
  position: relative;
}

/* --- LOGO --------------------------------------------- */
header .logo {
  height: 75px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 100px;
  margin: auto;
}


/* --- SUB MENU ------------------------------------------ */
header .sub-menu {
  position: absolute;
  top: 10px;
  right: 0;

  display: flex;
}


header .sub-menu ul.menu {
  font-family: Arial, sans-serif;
  display: flex;
}

/* ------------------------------- */
header .sub-menu ul.menu li {
  position: relative;
}

header .sub-menu ul.menu li::before {
  width: 1px; height: 12px;
  content:"";
  display: block;
  background-color: #e5e5e5;

  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

header .sub-menu ul.menu li:first-child::before{
  display: none;
}

header .sub-menu ul.menu li a {
  font-size: 12px;
  color: #656565;

  padding: 11px 16px;
  display: block;
}

header .sub-menu ul.menu li a:hover {
  color: #eee;
}

/* ------------------------------- */
header .sub-menu .search {
  height: 34px;

  position: relative;
}

header .sub-menu .search input {
  background-color: #fff;
  width: 36px; height: 34px;

  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;

  color: #777;
  font-size: 12px;

  padding: 4px 10px;

  /* 전환효과 */
  transition: width .4s;
}

header .sub-menu .search input:focus {
  width: 190px;
  border-color: #669900;
}

header .sub-menu .search .material-icons {
  /* 아이콘의 크기 맞추고 - 가운데 정렬을 해주자 */
  height: 24px; /* icon font 크기가 24px 라서 지정*/
  
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;

  transition: .4s;
}

header .sub-menu .search.focused .material-icons {
  opacity: 0;
}
